html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* FUENTE UNO */
@font-face {
    font-family: 'Frauces-Var';
    src: url(../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: 'Frauces-Semi';
    src: url(../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

/* FUENTE DOS */
@font-face {
    font-family: 'Monrope-Var';
    src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Monrope-Regular';
    src: url(../assets/fonts/manrope/static/Manrope-Regular.ttf);
}

/* COLORES */
:root {
    --btn-hover: #44FFA1;
    --waves: #24053E;
    --text: #584D62;
    --fondo-waves: #FCF8FF;
    --fondo: #FFF;
}
body{
    background-color: var(--fondo);
}
/* NAV */
.nav__landing{
    height: 9.1rem;
    background-color: var(--waves);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 16rem;
}
.apply__text{
    color: var(--fondo);
    margin-right: 16rem;
    font-family: 'Monrope-Regular';
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 300ms;
    border-bottom: 2px solid var(--btn-hover);
}
.apply__text:hover{
    color: var(--btn-hover);
    transition: all 300ms;
}
/* SECCION HERO */
.hero__section{
    height: 60.8rem;
    background-color: var(--waves);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.patter-one{
    width: 27rem;
    margin-top: -21rem;
    margin-left: -10rem;
}
.patter-two{
    width: 14.2rem;
    margin-top: 1rem;
    margin-right: -4rem;
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: -30rem;
}
.text__hero{
    width: 63.5rem;
    font-family: 'Frauces-Var';
    font-size: 8rem;
    color: var(--fondo);
    text-align: center;
    margin: 0 auto;
}
span{
    border-bottom: 0.4rem solid #44FFA1;
}
.text__button,
.text__btn{
    width: 16.2rem;
    height: 5.6rem;
    background-color: var(--btn-hover);
    color: var(--waves);
    font-family: 'Monrope-var';
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    transition: all 300ms;
}
.text__button:hover,
.text__btn:hover{
    background-color: var(--waves);
    border: 0.1rem solid var(--btn-hover);
    color: var(--btn-hover);
    transition: all 300ms;
}
/* WAVES CURVA */
.top{
    background-color: var(--waves);
}
.curve{
    border: none;
    width: 100%;
    height: 7rem;
    aspect-ratio: 20 / 1;
    clip-path: ellipse(55% 100% at top);
    position: absolute;
}

/* IMAGEN HERO */
.img__hero__fon{
    position: absolute;
    width: 76.7rem;
    height: 44.1rem;
    margin-top: -20REM;
    margin-left: 40rem;
    z-index: 2;
}

/* HERO SECCION DOS */
.hero__section__dos{
    height: 55rem;
    background-color: var(--fondo-waves);
}
.tops{
    background-color: var(--fondo-waves);
}
.curva{
    border: none;
    width: 100%;
    height: 7rem;
    aspect-ratio: 20 / 1;
    clip-path: ellipse(55% 100% at top);
    position: absolute;
}
/* HERO DE ENMEDIO */
.curv {
    border: none;
    width: 100%;
    height: 24rem;
    position: absolute;
    margin-top: 6rem;
    transform: rotateX(180deg);
    background-color: var(--fondo-waves);
}
.section__landi{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 30rem;
}
.section__landi li{
    list-style: none;
}
.one,
.two,
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    border: 0.1rem solid #24053E;
    color: var(--waves);
    font-family: 'Frauces-Semi';
    font-size: 2.4rem;
    margin: 0 auto;
}
.text__section__one,
.text__section__two,
.text__section__three{
    color: var(--waves);
    font-family: 'Frauces-Semi';
    font-size: 3.2rem;
    text-align: center;
    padding-top: 3rem;
}
.text__info{
    width: 35.2rem;
    height: 12.8rem;
    color: var(--waves);
    font-family: 'Monrope-Var';
    font-size: 1.8rem;
    text-align: center;
    line-height: 180%;
    padding-top: 3rem;
}
/* SECCION DE FINAL */
.section__final{
    display: flex;
    margin-top: 20rem;
    margin-left: 20rem;
}
.foto{
    display: flex;
    width: 37.7rem;
    height: 37.7rem;
}
/* SECCION DE INFO Y FOTO */
.cuadro__text{
    position: absolute;
    width: 73rem;
    height: 41.1rem;
    background-color: var(--waves);
    margin-top: 13rem;
    margin-left: 30rem;
    
}
.text__cuadro__title{
    font-family: 'Frauces-Semi';
    color: var(--fondo);
    font-size: 5.8rem;
    padding-top: 6.4rem;
    padding-left: 6.4rem;
}
.text__cuadro{
    width: 66rem;
    height: 9.6rem;
    color: var(--fondo);
    font-family: 'Monrope-Var';
    line-height: 180%;
    font-size: 1.8rem;
    text-align: left;
    padding-top: 4rem;
    padding-left: 6.4rem;
}
.text__btn{
    font-family: 'Monrope-Var';
    margin-left: 6.4rem;
    margin-top: 7rem;
}
.patter-three{
    position: absolute;
    width: 20rem;
    height: 15rem;
    margin-left: 20rem;
    margin-top: 8rem;
}
/* FOTTER */
.fotter{
    width: 11.6rem;
    height: 10rem;
    margin: 0 auto;
    margin-top: 30rem;
    margin-bottom: 10rem;
}
.redsocial{
    display: flex;
    margin-top: 3rem;
    gap: 3rem;
}
